<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- Favicon-->
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/blog.css" rel="stylesheet">
<!-- Custom Css -->
<link href="assets/css/main.css" rel="stylesheet">
<!-- choose a theme from css/themes instead of get all themes -->
<link href="assets/css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-blue">
<!-- Page Loader -->


<!-- main content -->
<section class="blog-page mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 left-box">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="single-blog-post card">
                            <div class="header">
                                <h3><a href="blog-details.html">Ipsum is simply dummy text of the printing</a></h3>
                                <ul class="meta list-inline">
                                    <li><a href="#"><i class="zmdi zmdi-account"></i> Posted By: John Smith</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-comment-text"></i> Comments: 5</a></li>
                                </ul>
                            </div>
                            <div class="body">
                            <p>Lorem Ipsum is sim Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <a href="blog-details.html" class="btn btn-raised btn-default">Read More</a>
                            </div>
                        </div>                  
                    </div>
                </div>             
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js --> 
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) --> 
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
</body>
</html>